<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wms.core.mapper.MaterialMapper">

    <select id="selectAll" resultType="MaterialSrcBean">
        select * from ma_material_detail
    </select>
    <insert id="insetOne" parameterType="MaterialSrcBean">
        insert into 
            ma_material_detail(materialcode,materialdesc,materialsrc) 
        values(#{materialCode},#{materialDesc},#{materialSrc});
        <selectKey resultType="java.lang.Long" keyProperty="id">   
            SELECT LAST_INSERT_ID() as id;
        </selectKey>
    </insert>
    
    <select id="selectOne" resultType="MaterialSrcBean" parameterType="String">
        select * from ma_material_detail where materialcode = #{materialCode}
    </select>
</mapper>